.word-search-board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.word-search-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.word-search-cell {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.used {
    background-color: #89e189;
}

.clicked {
    background-color: #89C4E1;
}