.answer-box {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.check-btn {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
}

/* Style for the input */
.input-style {
    width: 200px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}